<footer class="bg-primary min-h-[200px] text-white flex flex-col items-center px-2 sm:px-4 justify-between w-full mt-auto">

    <div class="flex flex-row justify-between w-full items-center h-full">
        <div class="whitespace-nowrap md:pr-8 lg:pr-12">
            <p class="">&#169; {{now | format="Y"}} {{site_data:school_name}} High School Athletics</p>
            <p>{{site_data:street_address}}, {{site_data:school_city}}, {{site_data:school_state}} {{site_data:zip_code}}</p>
        </div>
        <div class="flex items-center justify-center flex-wrap my-12">
        
            {{site_data:footer_logos}}
                <a href="{{company_url}}" target="_blank"><img src="{{company_logo}}" class="h-[50px] mx-2" alt="{{alt || title}}" /></a>
            {{/site_data:footer_logos}}
        </div>
    </div>

    <p class="mx-auto text-center mb-4 block w-full">Site created and managed by <a href="#" class="border-b hover:text-gray-200 duration-150">Jake Meyers Development</a></p>
</footer>

