{{slugArray = url | explode('/')}}
{{theTeam = slugArray[1] | explode("-")}}
{{first = theTeam[0]}}
{{second = theTeam[1]}}
{{finalTeam = first + "_" + second | camelize}}
{{scheduleType = slugArray[2]}}


<section class="mx-auto flex flex-col mt-4 w-full lg:w-3/12 bg-white">
    {{partial:section_heading title="schedule"}}
    <div class="flex border-b border-slate-300">
        <button class="w-full py-2 px-4 scheduleSelectorBtn border-r border-slate-300 {{if scheduleType == "u"}} border-b-2 border-b-primary-500 font-bold {{/if}} " id="upcoming">Upcoming</button>
        <button class="w-full py-2 px-4 scheduleSelectorBtn {{if scheduleType == "r"}} border-b-2 border-b-primary-500 font-bold {{/if}} " id="results" >Results</button>
    </div>


    {{collection:games | sort(date)}}

        {{if team == finalTeam}}
            {{if scheduleType == "u"}}
                {{if date | is_future || date | is_today}}
                    {{partial:scheduleWidgetGame}}
                {{/if}}
            {{ else if scheduleType == "r"}}
                {{if date | is_past }}
                    {{partial:scheduleWidgetGame}}
                {{/if}}
            {{/if}}
        {{/if}}


    {{/collection:games}}


</section>  

