<!-- {{slugArray = url | explode('/')}}
{{string = slugArray[1]}}
{{teamArray =  string | explode('-')}}
{{gender = teamArray[0] | title}}
{{team = teamArray[1] | title}}
{{scheduleType = slugArray[2]}} -->


<section class="mx-auto flex flex-col mt-4 w-full lg:w-3/12 bg-white">
    {{partial:section_heading title="schedule"}}

    {{collection:games}}
        {{year}}
    {{/collection:games}}


    <!-- {{collection:games team:contains="{{team}}" gender:contains="{{gender}}"
    sort="year:desc|date:desc"}} 
        {{if index == 0}} 
            {{partial:section_heading title="{{title}}"}}
            <div class="flex border-b border-slate-300">
                <button class="w-full py-2 px-4 scheduleSelectorBtn border-r border-slate-300 {{if scheduleType == "u"}} border-b-2 border-b-primary-500 font-bold {{/if}} " id="upcoming">Upcoming</button>
                <button class="w-full py-2 px-4 scheduleSelectorBtn {{if scheduleType == "r"}} border-b-2 border-b-primary-500 font-bold {{/if}} " id="results" >Results</button>
            </div>
            <div>
                {{if scheduleType == "u"}}
                    {{games}}
                        {{if date > now}}
                            {{partial:scheduleWidgetGame}}
                        {{/if}}
                    {{/games}}
                {{else if scheduleType == "r"}}
                    {{games}}
                        {{if date < now}}
                            {{partial:scheduleWidgetGame}}
                        {{/if}}
                    {{/games}}
                {{/if}}

            </div>
        {{ /if }}
    {{/collection:games}}
</section> -->


