

{{slugArray = url | explode('/')}}
{{theTeam = slugArray[1] | explode("-")}}
{{gender = theTeam[0]}}
{{jvOrVarsity = theTeam[1]}}
{{finalTeam = gender + "_" + jvOrVarsity | camelize}}
{{scheduleType = slugArray[2]}}

{{scheduleTeamTitle = ""}}
{{if jvOrVarsity == "jv"}}
    {{scheduleTeamTitle = "JV"}}
{{else if jvOrVarsity == "varsity"}}
    {{scheduleTeamTitle = "Varsity"}}
{{/if}}

<section class="p-4 bg-white ">
    {{collection:teams | sort="year:desc" team:is="{jvOrVarsity}" gender:is="{gender}" as="team" limit="1"}}
        {{team}}
            <h1 class="text-3xl mb-4">{{year}} {{gender | ucfirst}} {{if jvOrVarsity == "jv"}}JV{{/if}} {{if jvOrVarsity == "varsity"}}Varsity{{/if}} Roster</h1>

            {{ if players | is_empty }}
                <p>Sorry no roster available at this time.</p>
            {{else}}
                {{players}}
                    <div class="flex items-center justify-between md:justify-normal odd:bg-gray-100 p-2 border-t border-gray-300">
                        <div class="flex items-center md:w-1/2">
                            {{ if image}}
                                <img src="{{ glide src="{image}" w="100" h="120" }}" alt="{alt}" class="hidden sm:block">
                            {{/if}}
                            <div class="flex flex-col ml-4">
                                <div class="text-sm font-bold py-1 mb-2 md:mb-4">
                                    {{position}}
                                        {{if position | length != 1}}
                                            {{if !last}}
                                                {{value | ucfirst}} /
                                            {{else}}
                                                {{value | ucfirst}}
                                            {{/if}}
                                        {{else}}
                                            {{value | ucfirst}}
                                        {{/if}}
                                    {{/position}}
                                </div>
                                <div class="flex items-center justify-center">
                                    <span class="bg-primary-600 py-1 px-2 text-white text-sm md:text-md">{{number}}</span> <span class="ml-2 text-lg md:text-2xl text-gray-500">{{first_name}} {{last_name}} {{if captain}} (c) {{/if}} </span>
                                </div>
                            </div>
                        </div>
                        <p class="md:w-1/2 md:text-lg italic">{{grade | ucfirst}}</p>
                    </div>
                {{/players}}
            {{/if}}
        {{/team}}
    {{/collection:teams}}
</section>