<article class="flex flex-col items-center py-8 articleShow font-robotoMono bg-white px-2">
    <div class="">
        <div class="max-w-lg">
            <h1 class="text-4xl md:text-6xl lg:text-7xl mb-2">{{title}}</h1>
            <h2 class="mb-4 text-xl md:text-2xl lg:text-3xl">{{subtitle}}</h2>
            <a class="inline-flex w-auto text-md md:text-xl items-center justify-center border border-primary-500 text-primary-800 px-2 mb-4 hover:bg-primary-600 hover:text-white duration-150" href="mailto:?subject={{title}}&body=Check out the latest news article about {{data:school_name}}, http://soccer2.test{{url}}"><span class="mr-1">share </span><ion-icon name="share-alt"></ion-icon></a>
        </div>
      <img src="{{ glide src="{{cover_photo}}" width="800" height="300" }}" alt="{{alt}}" alt="{{alt}}"> 

        {{if games}}
            <div class="bg-gray-100 p-4">
                {{games}}
                    <div class="py-3 border-b border-gray-300 last:border-b-0">
                        <h3 class="capitalize text-3xl mb-1">{{team | explode("_") | join(" ")}}</h3>
                        <div class="flex items-center mb-2">
                            <img class="w-[45px]" src="{{site_data:logo}}" alt="Logo"/>
                            {{if our_score}}
                                <div class="text-2xl bg-white w-[50px] h-[50px] flex items-center justify-center ml-4">{{our_score}}</div>
                            {{/if}}
                            <span class="text-2xl ml-4">{{site_data:school_name}}</span>
                            {{if !our_score}}
                                <p class="ml-2">Pending Score</p>
                            {{/if}}
                        </div>

                        {{opponent}}
                            <div class="flex items-center">
                                <img class="w-[45px]" src="{{logo}}" alt="Logo"/>
                                {{if opponent_score}}
                                    <div class="text-2xl bg-white  w-[50px] h-[50px] flex items-center justify-center ml-4">{{opponent_score}}</div>
                                {{/if}}
                                    <span class="text-2xl ml-4">{{school_name}}</span>
                                    {{if !opponent_score}}
                                    <p class="ml-2">Pending Score</p>
                                {{/if}}
                            </div>
                        {{/opponent}}
                        
                    </div>
                {{/games}}
            </div>
        {{/if}}

        <div class="max-w-2xl mt-4 md:text-xl">{{content}}</div>


    </div>


    
    
   
</article>

